<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>Ascon 128</title>
</head>

<body>
    <h1>Encrypt and Decrypt using Ascon(LWC standard for NIST)</h1>
    <div class="row">
        <div class="column" id="c1">
            <h2>Encrypt Data</h2>
            <form method="post" id="Enc">
                <label for="ad">Associated Data:</label><br>
                <input type="text" name="ad" size="100 px" height="20 px" value={{ad}}><br><br>
                <label for="plainText">Plaintext:</label><br>
                <input type="text" name="plainText" size="100 px" height="20 px" value={{pt}}><br><br>
                <label for="Key">Key:</label><br>
                <input type="text" name="Key" size="100 px" height="20 px" value={{Key}}><br><br>
                <label for="Nonce">Nonce:</label><br>
                <input type="text" name="Nonce" size="100 px" height="20 px" value={{Nonce}}><br>
                <br> <br>
                
            </form>
            <button type="submit" value="Encrypt" form="Enc" id="Encrypt"> Encrypt</button>
            <br><br>
            <textarea wrap="off" placeholder="Encrypted Text" rows="4" cols="50">
                    {{enc}}
            </textarea>
            <br>
            <br>
        </div>
        <div class="column" id="c2">
            <h2>Decrypt Data</h2>
            <form method="post" id="Dec">
                <label for="ad1">Associated Data:</label><br>
                <input type="text" name="ad1" size="100 px" height="20 px" value={{ad1}}><br><br>
                <label for="cipherText">Ciphertext:</label><br>
                <input type="text" name="cipherText" size="100 px" height="20 px" value={{ct}}><br><br>
                <label for="Key">Key:</label><br>
                <input type="text" name="Key1" size="100 px" height="20 px" value={{Key1}}><br><br>
                <label for="Nonce">Nonce:</label><br>
                <input type="text" name="Nonce1" size="100 px" height="20 px" value={{Nonce1}}><br>
                <br>
                <br>
            </form>
            <button type="submit" value="Decrypt" form="Dec" id="Decrypt"> Decrypt</button>
            <br>
            <br>
            <textarea wrap="off" placeholder="Decrypted Text('None' if Tag does not match)" rows="4" cols="50">
                    {{dec}}
            </textarea>
            <br>
            <br>
        </div>
    </div>
    
</body>

</html>

